body {
    background-color: black;
    overflow: hidden;
    font-family: 'Courier New', monospace;
    color: lime;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.symbol {
    font-size: 20px;
    animation: fall linear infinite;
    position: absolute;
    top: -100%;
}

@keyframes fall {
    0% { opacity: 1; top: -100%; }
    100% { opacity: .25; top: 100vh; }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 2px solid lime;
    border-radius: 10px;
    box-shadow: 0 0 10px lime;
}

.form-container h2 {
    color: lime;
    margin-bottom: 20px;
}

.form-container input,
.form-container button {
    margin-bottom: 10px;
    padding: 10px;
    color: lime;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid lime;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.form-container input[type="submit"],
.form-container button[type="submit"] {
    background: lime;
    color: black;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    text-align: center;
    width: 95%;
}

@media (max-width: 600px) {
    .form-container {
        width: 90%;
    }
}